.slideshow {
  display: flex;
  height: 415px;
  width: 100%;
  border-radius: 25px;
  position: relative;
  margin-bottom: 30px;
}

.slideshow img {
  width: 100%;
  object-fit: cover;
}

.slide-index {
  color: white;
  position: absolute;
  top: 95%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  margin: 0;
}

.arrow-btn {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 96px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

@media only screen and (max-width: 767px) {
  .arrow-btn {
    font-size: 24px;
  }
}
